{{template "main" .}}
{{define "content"}}
  <div class="container">
    <h1>Pipeline: {{ .Pipeline.Name }}</h1>
    <div id="graphviz"></div>
  </div>

	<script type = "text/javascript">
    window.addEventListener('DOMContentLoaded', function() {
      async function fetchAsync (url) {
        let response = await fetch(url);
        let data = await response.text();
        return data;
      }

      let myCallback = function() {
        fetchAsync(location.href+"/image.dot").then(digraph => {
          window.Viz.instance().then(viz =>{
            console.log(digraph)
            let svg = viz.renderSVGElement(digraph)
            document.getElementById("graphviz").replaceChildren(svg);
          })
        }).catch(err => {
          console.log(err)
        })
      }

      myCallback()

      // Will execute myCallback every 1 seconds 
      var intervalID = window.setInterval(myCallback, 1000);
    })
	</script>
{{end}}
