{{template "main" .}}
{{define "content"}}
  <div class="container">
    <h1>Pipeline: {{ .Pipeline.Name }}</h1>
    <h2>Resource {{ .Resource.Name }}</h2>
    {{ if ne .Resource.Logs "" }}
      <div class="alert alert-danger" role="alert">
        {{ .Resource.Logs }}
      </div>
    {{ end }}
    {{ range $i, $v := .Versions }}
      {{ if eq $i 0 }}
        <div class="">
      {{ else }}
        <div class="d-none">
      {{ end }}
				<div class="accordion" id="build-steps">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v-{{ $i }}" aria-controls="collapseOne">
                Hash: {{ $v.Hash }}
              </button>
            </h2>
            <div id="v-{{ $i }}" class="accordion-collapse collapse" data-bs-parent="#build-steps">
              <div class="accordion-body">
                <p>ID: {{ $v.ID }}</p>
                <p>Hash: {{ $v.Hash }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
{{end}}
