<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QID</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/qid.css" rel="stylesheet" />
    <link href="/images/favicon.png" rel="icon" type="image/png"/>
  </head>

  <body>
    <div id="app">
    </div>
    <h1>

    <script type = "text/javascript" src="/js/jquery.min.js"></script>
    <script type = "text/javascript" src="/js/underscorejs.min.js"></script>
    <script type = "text/javascript" src="/js/backbonejs.min.js"></script>
    <script type = "text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type = "text/javascript" src="/js/viz-global.js"></script>

    <script type="text/template" id="main-view">
      <header>
      </header>
      <main class="container">
        <div id="error"></div>
        <div id="breadcrumb"></div>
        <div id="main"></div>
      </main>
      <footer>
      </footer>
    </script>

    <script type="text/template" id="header-view">
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" id="logo" href="/">
            <img src="/images/logo.png" alt="Logo" width="45" height="25" class="d-inline-block align-text-top">
            QID
          </a>
          <% if (session) { %>
            <div class="navbar" id="navbarSupportedContent"> 
              <div class="d-flex">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%- session.user.full_name %>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" id="logout" href="/logout">Logout</a></li>
                </ul>
              </div>
            </div>
          <% } %>
        </div>
      </nav>
    </script>

    <script type="text/template" id="error-view">
      <div>
        <% if (error) { %>
          <div class="alert alert-danger" role="alert">
            <%- error %>
          </div>
        <% } %>
      </div>
    </script>

    <script type="text/template" id="session-new-view">
      <div class="w-100 m-auto" style="max-width: 400px;padding-top:200px">
        <h1>Log In</h1>
        <form>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" aria-describedby="username">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" aria-describedby="password" >
          </div>
          <button type="submit" id="login" class="btn btn-primary">Log In</button>
        </form>
      </div>
    </script>

    <script type="text/template" id="teams-view">
      <div class="row">
        <% if (isAdmin()) { %>
          <div class="col">
            <a type="button" id="team-new" class="btn btn-success float-end" href="/teams/new">New</a>
          </div>
        <% } %>
      </div>
      </br>
      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" class="col-10">Name</th>
              <th scope="col" class="col-2">Options</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </script>

    <script type="text/template" id="teams-new-view">
      <h1>New Team</h1>
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" aria-describedby="name" value="<%- name %>" <%- id ? "disabled" : ""%>>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </script>

    <script type="text/template" id="team-row-view">
      <td><%- name %></td>
      <td>
				<div class="btn-group" role="group">
          <a id="pipelines" href="/teams/<%- canonical %>/pipelines" type="button" class="btn btn-primary">Pipelines</a>
          <a id="manage" href="/teams/<%- canonical %>" type="button" class="btn btn-info">Manage</a>
          <% if (isAdmin(canonical)) { %>
					  <button id="delete" type="button" class="btn btn-danger">Delete</button>
          <% } %>
				</div>
      </td>
    </script>

    <script type="text/template" id="team-show-view">
      <div class="row">
        <h1>Team: <%- name %></h1>
      </div>
      <div class="row">
        <form>
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="name" value="<%- name %>"
              <% if (!isAdmin(canonical)) { %>
                disabled=""
              <% } %>
            >
          </div>
          <% if (isAdmin(canonical)) { %>
            <button type="submit" class="btn btn-primary">Update</button>
          <% } %>
        </form>
      </div>
      </br>
      </br>
      <div class="row">
        <div class="col">
          <h3>Members</h3>
        </div>
        <div class="col">
          <% if (isAdmin(canonical)) { %>
            <a type="button" id="new-member" class="btn btn-success float-end">New</a>
          <% } %>
        </div>
      </div>
      <div class="row">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" class="col-5">Full Name</th>
              <th scope="col" class="col-5">Admin</th>
              <th scope="col" class="col-2">Options</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </script>

    <script type="text/template" id="team-new-member-row-view">
      <td>
				<select class="form-select" id="username">
          <% _.each(members, function(m) { %>
            <option value="<%- m.username %>"><%- m.full_name %></option>
          <% }) %>
				</select>
      </td>
      <td>
				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" role="switch" id="admin" />
				</div>
      </td>
      <td>
				<div class="btn-group" role="group">
					<button id="create" type="button" class="btn btn-success">Create</button>
				</div>
      </td>
    </script>

    <script type="text/template" id="team-show-member-row-view">
      <td><%- member.user.full_name %></td>
      <td>
				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" role="switch" id="admin"
            <% if (member.admin) { %>
              checked=""
            <% } %>

            <% if (!isAdmin(team.canonical)) { %>
              disabled=""
            <% } %>
          />
				</div>
      </td>
      <td>
				<div class="btn-group" role="group">
          <% if (isAdmin(team.canonical)) { %>
					  <button id="delete" type="button" class="btn btn-danger">Delete</button>
          <% } %>
				</div>
      </td>
    </script>

    <script type="text/template" id="pipelines-view">
      <div class="row">
        <div class="col">
          <% if (isAdmin(team.canonical)) { %>
            <a type="button" id="pipelines-new" class="btn btn-success float-end" href="/teams/<%- team.canonical %>/pipelines/new">New</a>
          <% } %>
        </div>
      </div>
      </br>
      <div class="row row-cols-1 row-cols-md-3 g-4" id="pipelines">
      </div>
    </script>

    <script type="text/template" id="pipelines-card-view">
      <div class="card h-100">
        <div class="card-header">
          <%- name %>
        </div>
        <div class="card-img-top">
        </div>
      </div>
    </script>

    <script type="text/template" id="pipeline-show-view">
      <div class="row">
        <div class="col">
          <div class="btn-group float-end">
          <% if (isAdmin(team.canonical)) { %>
            <button type="button" id="edit-pipeline" class="btn btn-info float-end">Edit</button>
            <button type="button" id="delete-pipeline" class="btn btn-danger float-end">Delete</button>
          <% } %>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="graphviz"></div>
      </div>
    </script>

    <script type="text/template" id="pipeline-graph-view">
      <div id="pipeline-graph"></div>
    </script>

    <script type="text/template" id="pipelines-new-view">
      <h1><%- id ? "Update Pipeline":"New Pipeline" %></h1>
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" aria-describedby="name" value="<%- name %>" <%- id ? "disabled" : ""%>>
        </div>
        <div class="mb-3">
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="pipeline" class="form-label">Pipeline</label>
                <textarea type="text" rows="20" class="form-control" id="pipeline" aria-describedby="pipeline"><%- raw %></textarea>
              </div>

              <div class="mb-3">
                <label for="vars" class="form-label">Vars</label>
                <textarea type="text" rows="10" class="form-control" id="vars" aria-describedby="vars"></textarea>
              </div>
            </div>
            <div class="col">
              <div id="graph">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary"><%- id ? "Update":"Create" %></button>
      </form>
    </script>

    <script type="text/template" id="job-builds-view">
      <div class="row">
        <div class="col">
          <% if (isMember(team.canonical)) { %>
            <button type="button" id="trigger-job" class="btn btn-warning float-end">Trigger Job</button>
          <% } %>
        </div>
      </div>
      <div class="">
        <div class="overflow-x-auto">
          <div class="btn-group" id="builds-tabs" role="group">
          </div>
        </div>
        <div class="tab-content" id="builds-content">
        </div>
      </div>
    </script>

    <script type="text/template" id="breadcrumb-view">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Teams</a></li>
        <% if (team) { %>
          <% if (!pipeline && !showPipelines) { %>
            <li class="breadcrumb-item active"><%- team.name %></li>
          <% } else { %>
            <li class="breadcrumb-item"><a href="/teams/<%- team.canonical %>"><%- team.name %></a></li>
            <% if (showPipelines) { %>
              <li class="breadcrumb-item active">Pipelines</li>
            <% } else { %>
              <li class="breadcrumb-item"><a href="/teams/<%- team.canonical %>/pipelines">Pipelines</a></li>
            <% } %>
          <% } %>
        <% } %>
        <% if (pipeline) { %>
          <% if (!job && !resource) { %>
            <li class="breadcrumb-item active"><%- pipeline.name %></li>
          <% }  else {%>
            <li class="breadcrumb-item"><a href="/teams/<%- team.canonical %>/pipelines/<%- pipeline.name %>"><%- pipeline.name %></a></li>
          <% } %>
        <% } %>
        <% if (job) { %>
          <li class="breadcrumb-item active">Jobs</li>
          <li class="breadcrumb-item active"><%- job.name %></li>
          <li class="breadcrumb-item active">Builds</li>
        <% } %>
        <% if (resource) { %>
          <li class="breadcrumb-item active">Resources</li>
          <li class="breadcrumb-item active"><%- resource.canonical %></li>
          <li class="breadcrumb-item active">Versions</li>
        <% } %>
      </ol>
    </script>

    <script type="text/template" id="job-builds-tab-view">
      <%- id %>
    </script>

    <script type="text/template" id="job-builds-content-view">
      <div id="c-<%- id %>">
        <div class="accordion <%- active ? '':'d-none' %>" id="<%- id %>-build-steps">
          <% if (error) { %>
            <div class="alert alert-danger" role="alert">
              <%- error %>
            </div>
          <% } %>
          <div>
            <p>Started At: <%- new Date(started_at).toLocaleString() %></p>
            <% if (duration !== 0 ) { %>
              <p>Duration: <%- duration %></p>
            <% } %>
          </div>
          <% _.each(get, function(g, i) { %>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#g-<%- i %>" aria-controls="collapseOne">
                  get: <%- g.name %> (<%- g.duration %>)
                </button>
              </h2>
              <div id="g-<%- i %>" class="accordion-collapse collapse" data-bs-parent="#<%- id %>-build-steps">
                <div class="accordion-body">
<pre>
<%- g.logs %>
</pre>
                </div>
              </div>
            </div>
          <% }) %>
          <% _.each(task, function(t, i) { %>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#t-<%- i %>" aria-controls="collapseOne">
                    task: <%- t.name %> 
                    (<%- t.duration %>)
                  </button>
                </h2>
                <div id="t-<%- i %>" class="accordion-collapse collapse" data-bs-parent="#<%- id %>-build-steps">
                  <div class="accordion-body">
<pre>
<%- t.logs %>
</pre>
                  </div>
                </div>
              </div>
          <% }) %>
          <% _.each(job, function(j, i) { %>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#j-<%- i %>" aria-controls="collapseOne">
                    job: <%- j.name %> (<%- j.duration %>)
                  </button>
                </h2>
                <div id="j-<%- i %>" class="accordion-collapse collapse" data-bs-parent="#<%- id %>-build-steps">
                  <div class="accordion-body">
<pre>
<%- j.logs %>
</pre>
                  </div>
                </div>
              </div>
          <% }) %>
        </div>
      </div>
    </script>

    <script type="text/template" id="resource-versions-view">
      <% if (resource.logs) { %>
        <div class="row">
          <div class="alert alert-danger" role="alert">
            <%- resource.logs %>
          </div>
        </div>
      <% } %>
      </div>
      <div class="row">
        <div class="col">
          <% if (isMember(team.canonical)) { %>
            <button type="button" id="trigger-resource" class="btn btn-warning float-end">Trigger Resource</button>
          <% } %>
          <p class="float-end">Last checked (<%- resource.check_interval||"@every 1m" %>) at: <%- new Date(resource.last_check).toLocaleString() %></p>
        </div>
      </div>
      <div class="row" id="resource-versions">
      </div>
    </script>

    <script type="text/template" id="resource-version-view">
      <div class="">
        <div class="accordion" id="<%- id %>-build-steps">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#v-<%- id %>" aria-controls="collapseOne">
                <% _.mapObject(version, function(v, k) { %>
                  <%- k %>: <%- v %>
                <% }) %>
              </button>
            </h2>
            <div id="v-<%- id %>" class="accordion-collapse collapse" data-bs-parent="#<%- id %>-build-steps">
              <div class="accordion-body">
                <p>ID: <%- id %></p>
                <% _.mapObject(version, function(v, k) { %>
                  <%- k %>: <%- v %>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script type = "text/javascript">
      'use strict';
      var app = {};
      var fetchInterval = 2000
      var isLogin = true

      var durationToString = function(duration) {
        if (duration === 0) {
          return "00:00:00"
        }
        var secConst = 1000*1000*1000
        var minConst = secConst*60
        var hourConst = minConst*60

        var hours = Math.floor(duration / hourConst)
        var minutes = Math.floor((duration-(hours*hourConst))/minConst)
        var seconds = Math.floor((duration-(minutes*minConst))/secConst)
        hours = hours || "00"
        minutes = minutes || "00"
        seconds = seconds || "00"
        hours +=""
        minutes +=""
        seconds +=""
        if (hours.length === 1) {
          hours = "0"+hours
        }
        if (minutes.length === 1) {
          minutes = "0"+minutes
        }
        if (seconds.length === 1) {
          seconds = "0"+seconds
        }
        return hours+ ":" + minutes + ":" + seconds
      }
      var addSessionFunctions = function(data) {
        return _.extend(app.session.data(), data)
      }

      //--------------
      // Models
      //--------------
      app.Session = Backbone.Model.extend({
        url: "login",
        //defaults: {
        //  username: null,
        //  password: null,
        //},
        parse: function(response) {
          if (response.data){
            return response.data
          }
          return response;
        },
        isEmpty: function() {
          return !this.get("jwt")
        },
        isAdmin: function(tc) {
          if (this.get("user").admin){
            return true
          }
          var admin = false
          if (tc !== "") {
            _.each(this.get("user").memberships, function(m) {
              if (m.admin && m.team_canonical === tc) {
                admin = true
              }
            })
          }
          return admin
        },
        isMember: function(tc) {
          if (this.get("user").admin) {
            return true
          }
          if (tc === "") {
            return true
          }
          var member = false
          _.each(this.get("user").memberships, function(m) {
            if (m.team_canonical === tc) {
              member = true
            }
          })
          return member
        },
        data: function() {
          return {
            isAdmin: this.isAdmin.bind(this),
            isMember: this.isMember.bind(this),
          }
        },
      });
      app.User = Backbone.Model.extend({
        defaults: {
          id: null,
          full_name: null,
          username: null,
          admin: null,
        },
        idAttribute: "username",
      });
      app.Team = Backbone.Model.extend({
        idAttribute: "canonical",
        defaults: {
          id: null,
          name: null,
          canonical: null,
        },
        initialize: function(attr) {
          attr = attr || {}
          if (attr.members && Array.isArray(attr.members)) {
            this.set("members", new app.TeamMembers(attr.members, {team: this}))
          }
        },
        parse: function(response) {
          if (response.data){
            response.data.members = new app.TeamMembers(response.data.members, {team: this})
            return response.data
          }
          response.members = new app.TeamMembers(response.members, {team: this})
          return response;
        }
      });
      app.TeamMember = Backbone.Model.extend({
        initialize: function(attr, opts){
          opts = opts || {}
          this.set("id", attr.user.username)
          this.team = opts.team
        },
        parse: function(response) {
          if (response.data){
            return response.data
          }
          return response;
        }
      })
      app.Pipeline = Backbone.Model.extend({
        idAttribute: "name",
        defaults: {
          id: null,
          raw: null,
          name: null,
        },
        parse: function(response) {
          if (response.data){
            return response.data
          }
          return response;
        }
      });
      app.PipelineImage = Backbone.Model.extend({
        url: function() {
          return this.pipeline.url() + "/image.dot"
        },
        initialize: function(attr, opts) {
          opts = opts || {}
          this.pipeline = opts.pipeline
        },
      });
      app.Job = Backbone.Model.extend({
        idAttribute: "name",
        parse: function(response) {
          if (response.data){
            return response.data
          }
          return response;
        },
        fetchTrigger: function() {
          this.fetch({url: this.url()+"/trigger", type: "POST"})
        },
      });
      app.Build = Backbone.Model.extend({
        idAttribute: "id",
        parse: function(response) {
          if (response.data){
            return response.data
          }
          return response;
        }
      });
      app.Resource = Backbone.Model.extend({
        idAttribute: "canonical",
        parse: function(response) {
          return response.data;
        },
        fetchTrigger: function() {
          this.fetch({url: this.url()+"/trigger", type: "POST"})
        },
      });
      app.ResourceVersion = Backbone.Model.extend({
        idAttribute: "id",
        parse: function(response) {
          if (response.data){
            return response.data
          }
          return response;
        }
      });
      app.APIError = Backbone.Model.extend({
        clear: function(){
          this.set({error: ""})
        }
      })
      app.apiError = new app.APIError()

      //--------------
      // Collections
      //--------------
      app.Users = Backbone.Collection.extend({
        model: app.User,
        url: "/users",
        parse: function(response) {
          return response.data;
        }
      });
      app.Teams = Backbone.Collection.extend({
        model: app.Team,
        url: "/teams",
        parse: function(response) {
          return response.data;
        }
      });
      app.TeamMembers = Backbone.Collection.extend({
        model: app.TeamMember,
        url: function() {
          //return "/teams/"+this.team.get("canonical")+"/members"
          return this.team.url()+"/members"
        },
        initialize: function(attr, opts) {
          this.team = opts.team
        },
        parse: function(response) {
          return response.data;
        }
      });
      app.Pipelines = Backbone.Collection.extend({
        model: app.Pipeline,
        url: function() {
          return this.team.url()+"/pipelines"
        },
        initialize: function(attr, opts) {
          this.team = opts.team
        },
        parse: function(response) {
          return response.data;
        }
      });
      app.Jobs = Backbone.Collection.extend({
        model: app.Job,
        url: function() {
          return this.pipeline.url() + "/jobs"
        },
        initialize: function(attr, opts) {
          this.pipeline = opts.pipeline
        },
        parse: function(response) {
          return response.data;
        }
      });
      app.Resources = Backbone.Collection.extend({
        model: app.Build,
        url: function() {
          return this.pipeline.url() + "/resources"
        },
        initialize: function(attr, opts) {
          this.pipeline = opts.pipeline
        },
        parse: function(response) {
          return response.data;
        }
      });
      app.Builds = Backbone.Collection.extend({
        model: app.Build,
        url: function() {
          return this.job.url() + "/builds"
        },
        initialize: function(attr, opts) {
          this.job = opts.job
        },
        parse: function(response) {
          var builds = response.data;
          _.each(builds, function(data) {
            if (data.duration  !== 0) {
              data.duration = durationToString(data.duration)
            }
            _.each(data.get, function(g, i) {
              data.get[i].duration = durationToString(g.duration)
            })
            _.each(data.task, function(t, i) {
              data.task[i].duration = durationToString(t.duration)
            })
            _.each(data.job, function(j, i) {
              data.job[i].duration = durationToString(j.duration)
            })
          })
          return builds
        },
        setActive: function(id) {
          // We make the id an int in case it comes
          // from the URL which it's a string
          id = id*1
          if (!id && this.first()) {
            id = this.first().get("id")
          }
          this.each(function(m){
            m.set("active", m.get("id") == id)
          })
          return id
        },
      });
      app.ResourceVersions = Backbone.Collection.extend({
        model: app.Build,
        url: function() {
          return this.resource.url() + "/versions"
        },
        initialize: function(attr, opts) {
          this.resource = opts.resource
        },
        parse: function(response) {
          return response.data;
        }
      });

      app.teams = new app.Teams();
      var userSessionKey = "qid-user-jwt"
      app.session = new app.Session(JSON.parse(window.localStorage.getItem(userSessionKey)||"{}"))


      //--------------
      // Views
      //--------------
      app.MainView = Backbone.View.extend({
        template: _.template($('#main-view').html()),
        initialize: function () {
          this.render();
          this.header = new app.HeaderView({ el: 'header' });
          this.error = new app.ErrorView({ el: '#error', model: app.apiError });
        },
        render: function () {
          this.$el.html(this.template());
          return this; // enable chained calls
        }
      })
      app.HeaderView = Backbone.View.extend({
        template: _.template($('#header-view').html()),
        initialize: function() {
          this.listenTo(app.session, "change", this.render)
          this.render();
        },
        events: {
          'click a#logo': 'clickLogo',
          'click a#logout': 'clickLogout',
        },
        clickLogo: function(event) {
          event.preventDefault();
          if (event.target.tagName === "IMG") {
            event.target = event.target.parentElement
          }
          var url = new URL(event.target.href)
          app.router.navigate(url.pathname, { trigger: true });
        },
        clickLogout: function(event) {
          event.preventDefault();
          var url = new URL(event.target.href)
          app.router.navigate(url.pathname, { trigger: true });
        },
        render: function () {
          var sjson 
          if (!app.session.isEmpty()) {
            sjson = app.session.toJSON()
          }
          this.$el.html(this.template({session: sjson}));
          return this; // enable chained calls
        }
      })
      app.ErrorView = Backbone.View.extend({
        template: _.template($('#error-view').html()),
        initialize: function() {
          this.listenTo(this.model, "change", this.render)
        },
        render: function() {
          this.$el.html(this.template(this.model.toJSON()));
          return this; // enable chained calls
        },
      })
      app.BreadcrumbView = Backbone.View.extend({
        tagName: "nav",
        template: _.template($('#breadcrumb-view').html()),
        events: {
          'click a': 'clickLink',
        },
        initialize: function(opts) {
          opts = opts||{}
          this.team = opts.team
          this.pipeline = opts.pipeline
          this.job = opts.job
          this.resource = opts.resource
          this.showPipelines = opts.showPipelines

          //this.listenTo(this.model, "change", this.render)
        },
        render: function() {
          this.$el.html(this.template({
            team: this.team,
            pipeline: this.pipeline,
            job: this.job,
            resource: this.resource,
            showPipelines: this.showPipelines,
          }));
          return this; // enable chained calls
        },
        clickLink: function(event) {
          event.preventDefault();
          var url = new URL(event.target.href)
          app.router.navigate(url.pathname, { trigger: true });
        },
      })
      app.SessionNewView = Backbone.View.extend({
        template: _.template($('#session-new-view').html()),
        events: {
          'click #login': 'clickLink',
          'submit #login': 'clickLink',
        },
        render: function () {
          this.$el.html(this.template());

          return this; // enable chained calls
        },
        clickLink: function(event) {
          event.preventDefault();
          var username = this.$el.find("#username").get(0).value
          var password = this.$el.find("#password").get(0).value

          app.session.save({username: username, password: password}, {
            success: function(resp) {
              app.session.unset("password")
              app.session.unset("username")
              window.localStorage.setItem(userSessionKey, JSON.stringify(app.session.toJSON()))
              app.router.navigate('', { trigger: true });
            },
          })
        },
      })
      app.TeamsView = Backbone.View.extend({
        template: _.template($('#teams-view').html()),
        initialize: function() {
          this.listenTo(this.collection, "add", this.addTeam)
          this.listenTo(this.collection, "destroy", this.render)

          app.teams.fetch()
        },
        events: {
          'click #team-new': 'clickLink',
        },
        addTeam: function(t) {
          var view = new app.TeamRowView({model: t});
          this.$el.find('tbody').append(view.render().el);
        },
        render: function () {
          this.$el.html(this.template(addSessionFunctions({})));

          var that = this
          this.collection.each(function(m) {
            that.addTeam(m)
          })
          return this; // enable chained calls
        },
        clickLink: function(event) {
          event.preventDefault();
          var url = new URL(event.target.href)
          app.router.navigate(url.pathname, { trigger: true });
        },
      })
      app.TeamRowView = Backbone.View.extend({
        template: _.template($('#team-row-view').html()),
        tagName: "tr",
        events: {
          'click': 'clickLink',
          'click #pipelines':   'clickLink',
          'click #manage':      'clickLink',
          'click #delete':      'clickDelete',
        },
        render: function () {
          this.$el.html(this.template(addSessionFunctions(this.model.toJSON())));
          return this; // enable chained calls
        },
        clickLink: function(event) {
          event.preventDefault();
          var url = new URL(event.target.href)
          app.router.navigate(url.pathname, { trigger: true });
        },
        clickDelete: function(event) {
          event.preventDefault();
          event.stopPropagation();

          this.model.destroy()
        },
      })
      app.TeamsNewView = Backbone.View.extend({
        template: _.template($('#teams-new-view').html()),
        events: {
          'click #create': 'clickCreate',
          'submit form':   'clickCreate',
        },
        render: function () {
          var data = this.model.toJSON()
          if (data.raw) {
            data.raw = atob(data.raw)
          }
          this.$el.html(this.template(data));
          return this; // enable chained calls
        },
        clickCreate: function(event) {
          event.preventDefault();
          var name = this.$el.find("#name").get(0).value

          app.teams.create({name: name}, {
            //type: "POST",
            // TODO: Try to find a way to create a model with the idAttribute
            // set with POST
            //url: app.teams.url,
            success: function(m) {
              app.router.navigate('teams/'+m.get("canonical"), { trigger: true });
            },
          })
        },
      })
      app.TeamShowView = Backbone.View.extend({
        template: _.template($('#team-show-view').html()),
        initialize: function() {
          this.listenTo(this.model, "change", this.render)
          this.listenTo(this.model.get("members"), "destroy", this.renderMembers)
          this.listenTo(this.model.get("members"), "add", this.renderMembers)
        },
        events: {
          'submit form': 'clickUpdate',
          'click #new-member': 'clickNewMember',
        },
        render: function () {
          this.$el.html(this.template(addSessionFunctions(this.model.toJSON())));
          this.renderMembers()

          return this; // enable chained calls
        },
        renderMembers: function() {
          this.$el.find('tbody').empty()
          var that = this
          this.model.get("members").each(function(m) {
            that.renderMember(m)
          })

          return this; // enable chained calls
        },
        renderMember: function(m) {
          var view = new app.TeamShowMemberRowView({team: this.model, model: m});
          this.$el.find('tbody').append(view.render().el);
        },
        clickUpdate: function(event){
          event.preventDefault();
          var name = this.$el.find("#name").get(0).value
          this.model.save({name: name}, {
            success: function(m) {
              app.router.navigate('teams/'+m.get("canonical"), { trigger: true });
            },
          })
        },
        clickNewMember: function(event){
          event.preventDefault();
          var view = new app.TeamNewMemberRowView({members: this.model.get("members")});
          if (this.$el.find('tbody #create-member').length === 0) {
            this.$el.find('tbody').prepend(view.render().el);
          }
        },
      })
      app.TeamNewMemberRowView = Backbone.View.extend({
        template: _.template($('#team-new-member-row-view').html()),
        tagName: "tr",
        attributes: {
          id: "create-member",
        },
        events: {
          'click #create': 'clickCreateMember',
          'submit': 'clickCreateMember',
        },
        initialize: function(opts) {
          opts = opts||{}
          this.members = opts.members
        },
        render: function() {
          var users = new app.Users()
          var that = this
          users.fetch({
            success: function() {
              var membersJSON = _.invoke(users.filter(function(u) {
                return !that.members.get(u.get("username"));
              }), "toJSON")
              that.$el.html(that.template({members: membersJSON}));
            },
          })
          return this
        },
        clickCreateMember: function(event) {
          event.preventDefault();
          var username = this.$el.find("#username").get(0).value
          var admin = this.$el.find("#admin").get(0).checked
          var that = this
          this.members.create({admin: admin, user: {
            username: username,
          }}, {url: this.members.url(), method: "POST",
            wait: true,
            success: function(){
              Backbone.View.prototype.remove.call(that);
            },
          })
        },
      })
      app.TeamShowMemberRowView = Backbone.View.extend({
        template: _.template($('#team-show-member-row-view').html()),
        tagName: "tr",
        initialize: function(opts) {
          this.listenTo(this.model, "change", this.render)
          this.team = opts.team
        },
        events: {
          'click #admin': 'updateAdmin',
          'click #delete': 'deleteMember',
        },
        render: function () {
          this.$el.html(this.template(addSessionFunctions({member: this.model.toJSON(), team: this.team.toJSON()})));
          return this; // enable chained calls
        },
        updateAdmin: function(event) {
          event.preventDefault();
          this.model.save({admin: !this.model.get("admin")},{
            wait: true,
          })
        },
        deleteMember: function(event) {
          event.preventDefault();
          this.model.destroy()
        },
      })
      app.PipelinesView = Backbone.View.extend({
        template: _.template($('#pipelines-view').html()),
        initialize: function() {
          this.listenTo(this.collection, "add", this.addPipeline)

          this.collection.fetch()
        },
        events: {
          'click #pipelines-new': 'clickLink',
        },
        addPipeline: function(pp) {
          var view = new app.PipelinesCardView({model: pp});
          this.$el.find('#pipelines').append(view.render().el);
        },
        render: function () {
          this.$el.html(this.template(addSessionFunctions({team: this.collection.team.toJSON()})));

          var that = this
          this.collection.each(function(m) {
            that.addPipeline(m)
          })
          return this; // enable chained calls
        },
        clickLink: function(event) {
          event.preventDefault();
          var url = new URL(event.target.href)
          app.router.navigate(url.pathname, { trigger: true });
        },
      })
      app.PipelinesCardView = Backbone.View.extend({
        template: _.template($('#pipelines-card-view').html()),
        attributes: {
          class: "col",
        },
        events: {
          'click': 'clickCard',
        },
        initialize: function() {
          this.image = new app.PipelineImage(null, {pipeline: this.model})
          this.image.fetch()
        },
        render: function () {
          this.$el.html(this.template(this.model.toJSON()));
          this.$el.find(".card-img-top").html(new app.PipelineGraphView({model: this.image, noLinks: true}).render().el)
          return this; // enable chained calls
        },
        clickCard: function(event) {
          event.preventDefault();
          app.router.navigate(this.model.url(), { trigger: true });
        },
      })
      app.PipelineShowView = Backbone.View.extend({
        template: _.template($('#pipeline-show-view').html()),
        initialize: function(options) {
          this.image = options.image
          this.image.fetch()

          var that = this
          this.intervalID = window.setInterval(function() {
            that.image.fetch({isInterval: true})
          }, fetchInterval);
        },
        events: {
          'click': 'clickPipeline',
          'click #edit-pipeline': 'clickEdit',
          'click #delete-pipeline': 'clickDelete',
        },
        render: function () {
          this.$el.html(this.template(addSessionFunctions({ pipeline: this.model.toJSON(), team: this.model.collection.team.toJSON() })));
          this.$el.find("#graphviz").html(new app.PipelineGraphView({model: this.image}).render().el)
          this.image.trigger("change", this.image)
          return this; // enable chained calls
        },
        remove: function() {
          clearInterval(this.intervalID)
          Backbone.View.prototype.remove.call(this);
        },
        clickPipeline: function(event) {
          event.preventDefault();
          if (event.target.parentElement.href !== undefined){
            app.router.navigate(event.target.parentElement.href.baseVal, { trigger: true });
          }
        },
        clickEdit: function(event){
          event.preventDefault();
          app.router.navigate(this.model.url()+"/edit", { trigger: true });
        },
        clickDelete: function(event){
          event.preventDefault();
          if (confirm("Are you sure you want to delete Pipeline '"+this.model.get("name")+"'")) {
            var pps = this.model.collection
            this.model.destroy({
              success: function() {
                app.router.navigate(pps.url(), { trigger: true });
              },
            })
          }
        },
      })
      app.PipelineGraphView = Backbone.View.extend({
        template: _.template($('#pipeline-graph-view').html()),
        initialize: function(options) {
          this.noLinks = options.noLinks||false
          this.listenTo(this.model, "change", this.render)
        },
        render: function() {
          if (this.model.get("image")) {
            window.Viz.instance().then(viz =>{
              let svg = viz.renderSVGElement(this.model.get("image"))
              svg.setAttribute("width","100%")
              svg.setAttribute("height","100%")
              this.$el.html(this.template());
              this.$el.find("#pipeline-graph").html(svg);
              if (this.noLinks) {
                this.$el.find("a").each(function() {
                  $(this).attr("xlink:href",null)
                })
              }
            })
          }
          return this
        },
      })
      app.PipelinesNewView = Backbone.View.extend({
        template: _.template($('#pipelines-new-view').html()),
        events: {
          'click #create': 'clickCreate',
          'submit form':   'clickCreate',
          'change textarea#pipeline': 'changePipeline',
          'change textarea#vars': 'changePipeline',
        },
        render: function () {
          var data = this.model.toJSON()
          if (data.raw) {
            data.raw = atob(data.raw)
          }
          this.$el.html(this.template(data));
          this.image = new app.PipelineImage()
          this.$el.find("#graph").html(new app.PipelineGraphView({model: this.image, noLinks: true}).render().el)
          if (data.raw) {
            this.changePipeline(new Event("fake"))
          }
          return this; // enable chained calls
        },
        clickCreate: function(event) {
          event.preventDefault();
          var name = this.$el.find("#name").get(0).value
          var pp = this.$el.find("#pipeline").get(0).value
          var rvars = this.$el.find("#vars").get(0).value||"{}"
          try{
            var vars = JSON.parse(rvars)
          } catch (error){
            app.apiError.set({error: "Error parsing Vars: "+error})
            return
          }

          var data = [];
          for (var i = 0; i < pp.length; i++){
            data.push(pp.charCodeAt(i));
          }
          if (this.model.get("id")){
            this.collection.create({name: name, config: data, vars: vars}, {
              url: this.model.url(),
              success: function(m) {
                app.router.navigate(m.url(), { trigger: true });
              },
            })
          } else {
            var that = this
            this.collection.create({name: name, config: data, vars: vars}, {
              type: "POST",
              // TODO: Try to find a way to create a model with the idAttribute
              // set with POST
              url: this.collection.url(),
              success: function(m) {
                app.router.navigate(m.url(), { trigger: true });
              },
            })
          }
        },
        changePipeline: function(event) {
          event.preventDefault();
          var pp = this.$el.find("#pipeline").get(0).value
          var rvars = this.$el.find("#vars").get(0).value||"{}"
          try{
            var vars = JSON.parse(rvars)
          } catch (error){
            app.apiError.set({error: "Error parsing Vars: "+error})
            return
          }

          var data = [];
          for (var i = 0; i < pp.length; i++){
            data.push(pp.charCodeAt(i));
          }
          this.image.save({config: data, vars: vars}, {url: this.collection.url()+"/image.dot"})
        },
      })
      app.JobBuildsView = Backbone.View.extend({
        template: _.template($('#job-builds-view').html()),
        initialize: function(opts) {
          this.listenTo(this.collection, "reset", this.addBuilds)
          this.listenTo(this.collection, "add", this.addBuild)

          this.job = opts.job
          this.pipeline = opts.pipeline

          var that = this
          this.collection.fetch({
            reset: true,
            success: function(){
              var bid = that.collection.setActive(opts.currentBuildID)
              that.currentBuildID = bid
              var url = new URL(location.origin+"/pipelines/"+that.pipeline.get("name")+"/jobs/"+that.job.get("name")+"/builds/"+bid)
              app.router.navigate(url.pathname, { trigger: false });
            },
          })

          var that = this
          this.intervalID = window.setInterval(function() {
            that.collection.fetch({isInterval: true})
          }, fetchInterval);
        },
        events: {
          'click #trigger-job': 'clickTriggerJob',
          'click button.build-tab': 'clickOnTab',
        },
        addBuilds: function() {
          var that = this
          this.collection.each(function(m) {
            that.addBuild(m)
          })
        },
        render: function () {
          this.$el.html(this.template(addSessionFunctions({
            team: this.collection.job.collection.pipeline.collection.team.toJSON(),
            pipeline: this.collection.job.collection.pipeline.toJSON(),
            job: this.collection.job.toJSON(),
          })));
          return this; // enable chained calls
        },
        remove: function() {
          clearInterval(this.intervalID)
          Backbone.View.prototype.remove.call(this);
        },
        addBuild: function(m) {
          var tab = new app.JobBuildsTabView({model: m})
          var cont = new app.JobBuildsContentView({model: m})
          var append = this.collection.first().get("id")>m.get("id")
          if (append) {
            $('#builds-tabs').append(tab.render().el);
            $('#builds-content').append(cont.render().el);
          } else {
            $('#builds-tabs').prepend(tab.render().el);
            $('#builds-content').prepend(cont.render().el);
          }
        },
        clickTriggerJob: function(event) {
          event.preventDefault();
          this.collection.job.fetchTrigger()
        },
        clickOnTab: function(event) {
          event.preventDefault();
          var bid = event.target.id.split("-")[1]
          this.collection.setActive(bid)
          this.currentBuildID = bid
          var url = new URL(location.origin+"/pipelines/"+this.pipeline.get("name")+"/jobs/"+this.job.get("name")+"/builds/"+bid)
          app.router.navigate(url.pathname, { trigger: false });
        }
      })
      app.JobBuildsTabView = Backbone.View.extend({
        tagName: "button",
        attributes: function() {
          return {
            type: "button",
            class: "btn btn-"+this.statusToClass()+" build-tab",
            id: "t-"+this.model.get("id"),
          }
        },
        initialize: function(opts) {
          this.listenTo(this.model, "change", this.render)
        },
        template: _.template($('#job-builds-tab-view').html()),
        render: function () {
          if (this.model.get("active")) {
            this.$el.addClass("active")
          } else {
            this.$el.removeClass("active")
          }
          this.$el.removeClass("btn-success")
          this.$el.removeClass("btn-danger")
          this.$el.removeClass("btn-warning")
          this.$el.addClass("btn-"+this.statusToClass())

          var data = this.model.toJSON()
          this.$el.html(this.template(data));
          return this; // enable chained calls
        },
        statusToClass: function() {
          switch(this.model.get("status")){
            case "succeeded":
              return "success"
            case "failed":
              return "danger"
            case "started":
              return "warning"
          }
        },
      })
      app.JobBuildsContentView = Backbone.View.extend({
        // TODO: Check to set the attributes
        template: _.template($('#job-builds-content-view').html()),
        initialize: function() {
          this.listenTo(this.model, "change", this.render)
        },
        render: function () {
          var data = this.model.toJSON()
          data.active = this.model.get("active")
          this.$el.html(this.template(data));
          return this; // enable chained calls
        },
      })
      app.ResourceVersionsView = Backbone.View.extend({
        template: _.template($('#resource-versions-view').html()),
        events: {
          'click #trigger-resource': 'clickTriggerResource',
        },
        initialize: function() {
          this.listenTo(this.collection, "add", this.addVersion)
          this.listenTo(this.model, "change", this.render)

          // TODO: most likely add the {reset: true} as the
          // order is really important
          this.collection.fetch()

          var that = this
          this.intervalID = window.setInterval(function() {
            that.model.fetch({isInterval: true})
            that.collection.fetch({isInterval: true})
          }, fetchInterval);
        },
        render: function () {
          this.$el.html(this.template(addSessionFunctions({
            team: this.collection.resource.collection.pipeline.collection.team.toJSON(),
            pipeline: this.collection.resource.collection.pipeline.toJSON(),
            resource: this.collection.resource.toJSON(),
          })));
          var that = this;
          this.collection.each(function(m) {
            that.addVersion(m)
          })
          return this; // enable chained calls
        },
        addVersion: function(m) {
          var ver = new app.ResourceVersionView({model: m})
          $('#resource-versions').append(ver.render().el);
        },
        remove: function() {
          clearInterval(this.intervalID)
          Backbone.View.prototype.remove.call(this);
        },
        clickTriggerResource: function(event) {
          event.preventDefault();
          this.collection.resource.fetchTrigger()
        },
      })
      app.ResourceVersionView = Backbone.View.extend({
        // TODO: Check to set the attributes
        template: _.template($('#resource-version-view').html()),
        render: function () {
          this.$el.html(this.template(this.model.toJSON()));
          return this; // enable chained calls
        },
      })

      //--------------
      // Routers
      //--------------
      app.Router = Backbone.Router.extend({
        routes: {
          'login':  'sessionNew',
          'logout': 'sessionDelete',

          '':                'teamsIndex',
          'teams':           'teamsIndex',
          'teams/new':       'teamsNew',
          'teams/:tn':       'teamsShow',

          'teams/:tc/pipelines' :           'pipelinesIndex',
          'teams/:tc/pipelines/new' :       'pipelinesNew',
          'teams/:tc/pipelines/:pn':        'pipelinesShow',
          'teams/:tc/pipelines/:pn/edit' :  'pipelinesEdit',

          'teams/:tc/pipelines/:pn/jobs/:jn/builds':        'jobBuilds',
          'teams/:tc/pipelines/:pn/jobs/:jn/builds/:bid':   'jobBuilds',

          'teams/:tn/pipelines/:pn/resources/:rCan/versions': 'resourceVersions',
          '*notFound': 'notFound',
        },
        sessionNew: function() {
          if (!this.setup(isLogin)) {
            return
          }
          this.contentView = new app.SessionNewView();
          $('#main').html(this.contentView.render().el)
          $('#breadcrumb').empty()
        },
        sessionDelete: function() {
          window.localStorage.removeItem(userSessionKey)
          app.session.clear()
          app.router.navigate("login", { trigger: true });
        },
        teamsIndex: function() {
          if (!this.setup(!isLogin)) {
            return
          }
          this.contentView = new app.TeamsView({collection: app.teams});
          $('#main').html(this.contentView.render().el)
          $('#breadcrumb').html(new app.BreadcrumbView().render().el)
        },
        teamsNew: function() {
          if (!this.setup(!isLogin)) {
            return
          }
          if (!app.session.isAdmin()) {
            app.router.navigate('', { trigger: true });
            return
          }
          this.contentView = new app.TeamsNewView({collection: app.teams, model: new app.Team()});
          $('#main').html(this.contentView.render().el)
          $('#breadcrumb').html(new app.BreadcrumbView().render().el)
        },
        teamsShow: function(tc) {
          if (!this.setup(!isLogin)) {
            return
          }
          var promises = []
          var t = app.teams.get(tc)
          if (t === undefined) {
            t = new app.Team({canonical: tc}, {collection: app.teams})
            promises.push(t)
          }
          var complete = _.invoke(promises, 'fetch');
          var that = this
          $.when.apply($, complete).done(function() {
            that.contentView = new app.TeamShowView({model: t});
            $('#main').html(that.contentView.render().el)
            $('#breadcrumb').html(new app.BreadcrumbView({
              team: t.toJSON(),
            }).render().el)
          })
        },
        pipelinesIndex: function(tc) {
          if (!this.setup(!isLogin)) {
            return
          }
          var promises = []
          var t = app.teams.get(tc)
          if (t === undefined) {
            t = new app.Team({canonical: tc}, {collection: app.teams})
            promises.push(t)
          }
          var pps = new app.Pipelines(null, {team: t})
          var complete = _.invoke(promises, 'fetch');
          var that = this
          $.when.apply($, complete).done(function() {
            that.contentView = new app.PipelinesView({collection: pps});
            $('#main').html(that.contentView.render().el)
            $('#breadcrumb').html(new app.BreadcrumbView({
              team: t.toJSON(),
              showPipelines: true,
            }).render().el)
          })
        },
        pipelinesNew: function(tc) {
          if (!this.setup(!isLogin)) {
            return
          }
          if (!app.session.isAdmin(tc)) {
            app.router.navigate('teams/'+tc+'/pipelines', { trigger: true });
            return
          }
          var promises = []
          var t = app.teams.get(tc)
          if (t === undefined) {
            t = new app.Team({canonical: tc}, {collection: app.teams})
            promises.push(t)
          }
          var pps = new app.Pipelines(null, {team: t})
          var complete = _.invoke(promises, 'fetch');
          var that = this
          $.when.apply($, complete).done(function() {
            that.contentView = new app.PipelinesNewView({collection: pps, model: new app.Pipeline(null, {team: t})});
            $('#main').html(that.contentView.render().el)
            $('#breadcrumb').html(new app.BreadcrumbView().render({
              team: t.toJSON(),
            }).el)
          })
        },
        pipelinesEdit: function(tc, pn) {
          if (!this.setup(!isLogin)) {
            return
          }
          if (!app.session.isAdmin(tc)) {
            app.router.navigate('teams/'+tc+'/pipelines/'+pn, { trigger: true });
            return
          }
          var promises = []
          var t = app.teams.get(tc)
          if (t === undefined) {
            t = new app.Team({canonical: tc}, {collection: app.teams})
            promises.push(t)
          }
          var pps = new app.Pipelines(null, {team: t})
          var pp = new app.Pipeline({name: pn},{collection: pps})
          promises.push(pp)
          var complete = _.invoke(promises, 'fetch');
          var that = this
          $.when.apply($, complete).done(function() {
            that.contentView = new app.PipelinesNewView({collection: pps, model: pp});
            $('#main').html(that.contentView.render().el)
            $('#breadcrumb').html(new app.BreadcrumbView({
              team: t.toJSON(),
              pipeline: pp.toJSON(),
            }).render().el)
          })
        },
        pipelinesShow: function(tc, pn) {
          if (!this.setup(!isLogin)) {
            return
          }
          var promises = []
          var t = app.teams.get(tc)
          if (t === undefined) {
            t = new app.Team({canonical: tc}, {collection: app.teams})
            promises.push(t)
          }
          var pps = new app.Pipelines(null, {team: t})
          var pp = new app.Pipeline({name: pn},{collection: pps})
          promises.push(pp)
          var complete = _.invoke(promises, 'fetch');
          var that = this
          $.when.apply($, complete).done(function() {
            that.contentView = new app.PipelineShowView({model: pp, image: new app.PipelineImage(null, {pipeline: pp}) });
            $('#main').html(that.contentView.render().el)
            $('#breadcrumb').html(new app.BreadcrumbView({
              team: t.toJSON(),
              pipeline: pp.toJSON(),
            }).render().el)
          })
        },
        jobBuilds: function(tc, pn, jn, bid) {
          if (!this.setup(!isLogin)) {
            return
          }
          var promises = []
          var t = app.teams.get(tc)
          if (t === undefined) {
            t = new app.Team({canonical: tc}, {collection: app.teams})
            promises.push(t)
          }
          var pps = new app.Pipelines(null, {team: t})
          var pp = new app.Pipeline({name: pn},{collection: pps})
          promises.push(pp)
          var jbs = new app.Jobs(null, {pipeline: pp})
          var jb = new app.Job({name: jn}, {collection: jbs})
          promises.push(jb)
          var builds = new app.Builds(null, {job: jb})
          var complete = _.invoke(promises, 'fetch');
          var that = this
          $.when.apply($, complete).done(function() {
            that.contentView = new app.JobBuildsView({
              collection: builds,
              currentBuildID: bid,
              job: jb,
              pipeline: pp,
            });
            $('#main').html(that.contentView.render().el)
            $('#breadcrumb').html(new app.BreadcrumbView({
              team: t.toJSON(),
              pipeline: pp.toJSON(),
              job: jb.toJSON(),
            }).render().el)
          })
        },
        resourceVersions: function(tc, pn, rCan) {
          if (!this.setup(!isLogin)) {
            return
          }
          var promises = []
          var t = app.teams.get(tc)
          if (t === undefined) {
            t = new app.Team({canonical: tc}, {collection: app.teams})
            promises.push(t)
          }
          var pps = new app.Pipelines(null, {team: t})
          var pp = new app.Pipeline({name: pn},{collection: pps})
          promises.push(pp)
          var rss = new app.Resources(null, {pipeline: pp})
          var rs = new app.Resource({canonical: rCan}, {collection: rss})
          promises.push(rs)
          var versions = new app.ResourceVersions(null, {resource: rs})

          var complete = _.invoke(promises, 'fetch');
          var that = this
          $.when.apply($, complete).done(function() {
            that.contentView = new app.ResourceVersionsView({
              model: rs,
              collection: versions,
            });
            $('#main').html(that.contentView.render().el)
            $('#breadcrumb').html(new app.BreadcrumbView({
              team: t.toJSON(),
              pipeline: pp.toJSON(),
              resource: rs.toJSON(),
            }).render().el)
          })
        },
        notFound: function() {
          app.router.navigate('', { trigger: true });
        },
        setup: function(isLogin) {
          if (!this.mainView) {
            this.mainView = new app.MainView({ el: '#app' });
          }
          if (app.session.isEmpty() && !isLogin) {
            app.router.navigate("login", { trigger: true });
            return false
          } else if (!app.session.isEmpty() && isLogin) {
            app.router.navigate("", { trigger: true });
            return true 
          } else if (this.contentView) {
            // TODO: Recheck this
            //// COMPLETELY UNBIND THE VIEW
            this.contentView.undelegateEvents();

            this.contentView.$el.removeData().unbind(); 

            //// Remove view from DOM
            this.contentView.remove();
            Backbone.View.prototype.remove.call(this.contentView);
          }
          return true
        }
      }); 


      //--------------
      // Initializers
      //--------------
      var backboneSync = Backbone.sync;
      Backbone.sync = function (method, model, options) {
        options.headers = {
          'Content-Type': 'application/json',
        };
        if (!app.session.isEmpty()) {
          options.headers['Authorization'] = 'Bearer ' + app.session.get("jwt")
        }
        var optError = options.error
        options.error = function(response){
          app.apiError.set({error: response.responseJSON.error})
          if (optError) {
            optError(response)
          }
        }
        var optSuccess = options.success
        options.success = function(response){
          if (!options.isInterval) {
            app.apiError.clear()
          }
          if (optSuccess) {
            optSuccess(response)
          }
        }
        return backboneSync(method, model, options);
      };
      app.router = new app.Router();
      Backbone.history.start({pushState: true});
    </script>

  </body>
</html>
